<h1 class="text-center">Crise à <%=crisis.localisation.city%></h1>

<div class="row">
  <div class="small-5 columns">
    <h2>Informations</h2>

    <strong><%=crisis.type%></strong>

    <p>Début : <%=crisis.startDate.toDateString()%> à <%=crisis.startDate.toTimeString()%></p>
    <p>Fin : <%=crisis.endDate.toDateString()%> à <%=crisis.endDate.toTimeString()%></p>

    <p>Position GPS : <%=crisis.localisation.longitude%>/<%=crisis.localisation.latitude%></p>
    <p><%=crisis.localisation.city%> en <%=crisis.localisation.country%></p>

  </div>
  <div class="small-2 columns"><a href=""><h1>+</h1></a></div>
  <div class="small-5 columns">
    <div id="map"></div>
  </div>
</div>


<div class="row">
  <div class="small-4 columns">
    <ul>
      <%for(var i = 0; i < 5; i ++){ %>
      <li>Personne <%=i%></li>
      <%}%>
    </ul>

  </div>
</div>

<style>
  #map {
    width: 100%;
    height: 500px;
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(<%=crisis.localisation.longitude%>, <%=crisis.localisation.latitude%>),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
